@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.burger--menu > span{
  transition: all 0.3s ease-in-out;
}

.burger--menu.active > :nth-child(1) {
  transform: rotate(45deg) translate(5px, 3px);
}

.burger--menu.active > :nth-child(2) {
  transform: translateX(-50%);
  opacity: 0;
}

.burger--menu.active > :nth-child(3) {
  transform: rotate(-45deg) translate(5px, -3px);
}

.mobile--navbar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: black;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.mobile--navbar.active {
  transform: translateX(0);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.slick-slide > div {
  padding: 0 10px; 
}
.slick-list {
  margin: 0 -10px; 
}