@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.burger--menu > span{
  transition: all 0.3s ease-in-out;
}

.burger--menu.active > :nth-child(1) {
  transform: rotate(45deg) translate(5px, 3px);
}

.burger--menu.active > :nth-child(2) {
  transform: translateX(-50%);
  opacity: 0;
}

.burger--menu.active > :nth-child(3) {
  transform: rotate(-45deg) translate(5px, -3px);
}

.mobile--navbar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: black;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.mobile--navbar.active {
  transform: translate(0, 0);
}